In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv("Documents/CertifiacteData.csv")
df = pd.DataFrame(data)

# Data Cleaning , Adding Default values
df.Rank = data.Rank.fillna(0)
df.WinnersName = data.WinnersName.fillna("")

# Datatype conversion
df.Rank = df.Rank.astype(int)

rankCount = list(df["Rank"]>0).count(True) #Getting count for looping
participantsCount = list(df["ParticipantsName"])

class Certificate():
  def __init__(self,dateOfIssue,nameOfInstitue):
    self.dateOfIssue = dateOfIssue
    self.nameOfInstitue = nameOfInstitue
    
  def winnersCertificate(self):
    for i in range(0,rankCount):
      print(df["WinnersName"][i] , df["Rank"][i], self.dateOfIssue , self.nameOfInstitue)
  
  def participationCertificate(self):
    for i in range(0,len(participantsCount)):
      print(df["ParticipantsName"][i] ,self.dateOfIssue , self.nameOfInstitue)
  
    
c= Certificate("4/11/2018","Xen.ai")
c.winnersCertificate()
#c.participationCertificate()
df

Mohanraj 2 4/11/2018 Xen.ai
Vaishali 1 4/11/2018 Xen.ai
Varun 3 4/11/2018 Xen.ai

  WinnersName  Rank ParticipantsName
0    Mohanraj     2            Sanju
1    Vaishali     1            Pappu
2       Varun     3            Divya
3                 0         Mohanraj
4                 0         Vaishali
5                 0            Varun
6                 0           Dinesh